@model IEnumerable<Inventory.Dtos.CompanyDto>

@{
    ViewData["Title"] = "لیست شرکت‌ها";
}

<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2 class="text-primary">لیست شرکت‌ها</h2>
        <a asp-action="Create" class="btn btn-success"><i class="fas fa-plus"></i> ایجاد شرکت</a>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered table-hover shadow-sm" style="background-color: #f8f9fa;">
            <thead class="bg-light text-dark">
                <tr>
                    <th>#</th>
                    <th>نام</th>
                    <th>کد</th>
                    <th>نوع کمپانی</th>
                     <th>ایمیل</th>
                    <th>شماره تماس</th>
                    <th>کد دارایی</th>
                    <th>آدرس</th>
                    <th class="text-center">عملیات</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var company in Model)
                {
                    <tr>
                        <td>@company.CompanyId</td>
                        <td>@company.Name</td>
                        <td>@company.CompanyCode</td>
                        <td>@company.CompanyTypeName</td>
                        <td>@company.Email</td>
                        <td>@company.PhoneNumber</td>
                        <td>@company.TaxCode</td>
                        <td>@company.Address</td>
                        <td class="text-center">
                            <div class="btn-group" role="group">
                                <a asp-action="Edit" asp-route-id="@company.CompanyId" class="btn btn-warning btn-sm">
                                    <i class="fas fa-edit"></i> ویرایش
                                </a>
                                <a asp-action="Delete" asp-route-id="@company.CompanyId" class="btn btn-danger btn-sm" onclick="return confirm('آیا از حذف این شرکت مطمئن هستید؟');">
                                    <i class="fas fa-trash-alt"></i> حذف
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
